pid: /tmp/agent.pid

docker:
  endpoint: tcp://10.10.192.213:2376

etcd:
  prefix: agent2
  etcd:
    - http://10.10.158.89:2379

metrics:
  step: 30
  transfers:
    - 10.1.201.45:8125

api:
  addr: 0.0.0.0:12345

log:
  forwards:
    - udp://10.100.1.154:50433
  stdout: False

limit:
  memory: 5293824

nic:
  physical:
    - em1
