pid: /tmp/agent.pid

docker:
  endpoint: unix:///var/run/docker.sock

etcd:
  prefix: agent2
  etcd:
    - http://127.0.0.1:2379

metrics:
  step: 30
  transfers:
    - 127.0.0.1:8125

api:
  addr: 0.0.0.0:12345

log:
  forwards:
    - udp://127.0.0.1:5144
  stdout: False
